<h4 style="color:darkblue; font-weight:750">commodity:</h4>


 
  <div class="row">
    <div class="col-lg-6">
	  <p align="left" style="color:black; font-weight:700"><%=@choice.title%></p>
	  <p align="left" style="color:black; font-weight:700"><%=@choice.description%></p>
      <p align="left" style="color:black; font-weight:700"><%=@choice.price%> UAH</p>
      <p align="left" style="color:black; font-weight:700">Made in <%=@choice.country%></p>
      <p align="left" style="color:black; font-weight:700">Arrival at:<%=@choice.arrival%></p>
	  
	  <form name="quantity"  role = "form">
		<p align="left" style="color:black; font-weight:700">HOW MANY:</p>
		<input name = "numb" placeholder = "quantity" style = "border-color:blue">
	    
	  </form></br>
	  <a href = '/shop'  class = "btn btn-primary btn-sm" onclick = "add_to_cart(<%=@choice.id%>)">ADD TO CART</a>
	  
	</div>
  </div>
  
 